h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
  background-color: #F7F7F7;
}

.container-fluid {
	padding: 0px !important;
}

.topInfo {
	background-color: white;
	height: 50px;
	text-align: left;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
}

.topInfo .userAccount {
	margin-left: 20px;
}


.topInfo .userButton{
 	color: #F6305F;
}

.topInfo .currency {
	margin-left: 10px;
}

.topInfo .checkoutTotal {
	text-align: right;
}

#shopBrand {
	font-size: 30px;
	font-weight: 700;
	color: #F6305F;
}

.form-control .shopping-search {
	color: #ffffff;
}

#basic-navbar-nav {
	text-align: center;
	margin-left: 150px;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding: 0px 40px;
	font-size: 21px;
	font-weight: 500;
	text-align: center;
}

.shopping-search {
	padding: 7px;
	border-radius: 28px;
	background-color: #969696;
}

.shopping-search .searchIcon {
	border-width: 0px;
	color: #ffffff;
	background-color: #969696;
}

.shopping-search .searchInput {
	border-width: 0px;
	color: #343a40;
	font-weight: 500;
	background-color: #969696;
}

.shopping-search .searchInput::placeholder {
	color: white;
	font-size: 18px;
}

.categorySection {
	width: 100%;
	height: 500px;
	background: url('http://hd.wallpaperswide.com/thumbs/smoke_men-t2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.categoryTitle {
	margin-top: 80px;
	width: 100%;
	font-size: 70px;
	color: #cccccc;
}

.categoryMenu {
	width: 100%;
}

.categoryCol {
	color: #ffffff;
	font-size: 21px;
	font-weight: 500;
}

.categoryItem {
	padding: 5px 0px;
}

.filterSection {
	padding: 10px 0px;
}

.filterSection .filterCards {
	width: 100%;
}

.searchFilter {
	background-color: white;
	width: 100%;
	text-align: left;
	margin: 3px 0px;
}

.searchFilter .filterItem {
	font-weight: 700;

}

.searchFilter .brandSelection {
	
}

.searchFilter .brandRow {
	margin: 3px 0px;
}

.searchFilter .brandName {
	margin: 0px 20px;
}

.searchFilter .size-button {
	margin: 3px;
}

.searchFilter .brandSelection {
	padding: 0px 20px;
}

.filterResult {
	text-align: left;
	background-color: #F7F7F7;
}

.searchAction {
	margin: 3px 0px;
	background-color: #F7F7F7;
}

.searchAction #applyButton {
	background-color: #F6305F;
	border-radius: 20px;
}

.searchAction #clearButton {
	color: #F6305F;
}


.searchResult {
	background-color: #F7F7F7;
}

.resultSection {
	margin-top: 10px;
}

.resultSection .resultItem .itemImage {
	width: 100%;
	padding: 10px;
	height: auto;
}
.shoppingSection {
	width: 94%;
	margin: 0px auto;
}